.DS_Store
.env
.env.*
!.env.example
.next
.playwright-cli
.turbo
.vite
docs/.silen/.temp
docs/.silen/dist
coverage
dist
node_modules
output
playwright-report
test-results
types-temp
*.log
*.tgz
*.tsbuildinfo
!pnpm-lock.yaml
.idea
.vscode
